<div class="wiki-main">
  <div class="left-panel">
    <a class="left-panel-link" href="/wiki#introduction">Introduction</a>
    <a class="left-panel-link" href="/wiki#ville">Ville</a>
    <a class="left-panel-sub-link" href="/wiki#interface">Interface</a>
    <a class="left-panel-sub-link" href="/wiki#construction">Construction</a>
    <a class="left-panel-sub-link" href="/wiki#recherche">Recherche</a>
    <a class="left-panel-link" href="/wiki#bataille">Bataille</a>
  </div>
  <div class="wiki-body">
    <h1>Abrupt Valley Wiki</h1>
    <h2 id="introduction">Introduction</h2>
    <p>
      Abrupt Valley est un jeu de stratégie en 1vs1 découpé en 2 phases, une de construction de ville et l’autre
      d'affrontement.<br>
      Dans la phase de construction de ville, vous avez 45 secondes pour positionner vos bâtiments de ressources et
      d'unités mais aussi les améliorer pour se préparer au mieux pour la phase d'affrontement.<br>
      Durant la phase d’affrontement vos unités affrontent automatiquement l’armée adverse dans une zone de bataille
      jusqu’à ce qu’il n’y est qu’un seul vainqueur.<br>
      Le premier joueur à remporter 4 batailles est déclaré vainqueur de la guerre et la partie se finit.<br>
    </p>
    <h2 id="ville">Construction de ville</h2>
    <h3 id="interface">Interface</h3>
    <p>
      Durant la construction de votre ville vous avez un menu en bas de votre écran séparé en 3 zones, la première zone
      permet de changer de catégorie de bâtiment, collecte de ressources, armes et armures (pas encore implémentée),
      la deuxième zone contient les différents bâtiments de la catégorie sélectionnée avec sous chaque bâtiment son prix
      en or et dans le coin supérieur droit la ressource nécessaire pour le construire si besoin et la 3ème zone est
      composée d’un bouton permettant d’être prêt en avance pour partir au combat (le combat se déclenche avant les 45s
      si les deux joueurs sont prêts).<br>
      Sur la partie gauche de votre écran vous pourrez voir votre stock de ressources disponibles.<br>
      Et pour finir sur la partie haute de votre écran vous aurez le chronomètre vous indiquant le temps restant avant
      la prochaine phase.<br>
    </p>
    <h3 id="construction">Construction</h3>
    <p>
      Lorsque vous cliquez sur un bâtiment il se positionne à un emplacement valide sur la grille de votre ville et vous
      pourrez le bouger en cliquant sur une case tant que l’emplacement est valide, une fois que sa position vous
      convient vous pourrez cliquer sur le bouton valider pour construire le bâtiment, si vous ne voulez plus
      positionner ce bâtiment vous pouvez cliquer sur le bouton annuler.<br>
      Une fois un bâtiment de collecte de ressource posé vous obtiendrait directement les ressources sauf pour la mine
      d’or qui vous permet d’obtenir une quantité d’or à chaque début de tour de construction de ville. Il en est de
      même pour les bâtiments d’unités qui ajoutent à votre armée instantanément les unités produites par le bâtiment
      posé.<br>
    </p>
    <h3 id="recherche">Recherche</h3>
    <p>
      Si vous souhaitez améliorer les unités sortant d’un bâtiment vous pouvez cliquer sur celui-ci et un menu de
      recherche apparaîtra, pour débloquer une recherche il faut obligatoirement avoir la recherche précedente déjà
      acheter, et lorsque que vous débloquer une recherche majeure cela bloque les autres recherches majeures de ce
      bâtiment.<br>
    </p>

    <h2 id="p3">Bataille</h2>
    <p>
      Une bataille se déroule automatiquement, vos unités produites lors de votre précédente phase de construction de
      ville se positionne automatiquement sur le champ de bataille en fonction de leurs points de vie et leur distance
      d’attaque. Vous pouvez observer les différentes statistiques de chaque unité sur le champ de bataille en cliquant
      simplement sur la case sur laquelle elle est.<br>
    </p>
  </div>
</div>
