div {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.splash-art {
  background-color: #343A40;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  object-fit: cover;
}

.download-box {
  background-color: rgba(33, 37, 41, 0.9);
  color: #E9ECEF;
  width: 30em;
  height: 40em;
  position: absolute;
  padding: 2vw;
  top: 20vh;
  left: 4vw;
  border-radius: 50px;
  box-shadow: 0 0 10px #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-bottom: 25%;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bolder;
  font-size: 6em;
  text-align: center;
  letter-spacing: 2px;
}

.download-button {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3em;
  cursor: pointer;
}

.button {
  flex: 5;
  font-size: 1.25em;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #E9ECEF;
  background: linear-gradient(90deg, #c38e70 50%, #b07d62 100%);
  box-shadow: 0 5px 5px #212529;
  transition: 0.25s;
  cursor: pointer;
}

.button:hover {
  color: #F8F9FA;
  text-shadow: 0 0 2px #DEE2E6;
  box-shadow: 0 5px 5px #b07d62;
}

.button:hover .button-icon {
  filter: drop-shadow(0 0 1px #DEE2E6);
}

.button:active {
  color: #E9ECEF;
  text-shadow: none;
  box-shadow: 0 5px 5px #212529;
}

.button:active .button-icon {
  filter: none;
}

.icon {
  object-fit: cover;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.25s;
}

.icon:hover {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  filter: drop-shadow(0 0 1px #DEE2E6);
}

.icon:active {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  filter: none;
}

.button-icon {
  object-fit: cover;
  width: 50px;
  margin-left: 10px;
  padding: 10px;
}

.wiki-button {
  font-size: 1.25em;
  font-weight: bold;
  height: 10%;
  border: none;
  border-radius: 50px;
  width: 300px;
  color: #E9ECEF;
  background: linear-gradient(90deg, #b07d62 50%, #9c6644 100%);
  box-shadow: 0 5px 5px #212529;
  transition: 0.25s;
  cursor: pointer;
}

.wiki-button:hover {
  color: #F8F9FA;
  text-shadow: 0 0 2px #DEE2E6;
  box-shadow: 0 5px 5px #9c6644;
}

.wiki-button:active {
  color: #E9ECEF;
  text-shadow: none;
  box-shadow: 0 5px 5px #212529;
}
